absl-py==0.13.0
accelerate==0.14.0
adapter-transformers==3.1.0
aiohttp==3.8.3
aiosignal==1.3.1
alabaster==0.7.12
anyio==3.6.2
apache-beam==2.43.0
apex==0.1
appdirs==1.4.4
argon2-cffi==20.1.0
ascii-graph==1.5.1
asgiref==3.4.1
async-generator==1.10
async-timeout==4.0.2
attrs==21.2.0
audioread==2.1.9
Babel==2.9.1
backcall
backports.functools-lru-cache
beautifulsoup4 
bleach==3.3.1
blessed==1.19.1
blis 
boto3==1.18.5
botocore==1.21.5
brotlipy==0.7.0
cachetools==4.2.2
captum==0.5.0
catalogue 
certifi==2021.5.30
cffi 
chardet 
charset-normalizer
click==7.1.2
clip @ git+https://github.com/openai/CLIP.git@d50d76daa670286dd6cacf3bcd80b5e4823fc8e1
cloudpickle==2.2.0
codecov==2.1.11
colorama 
conda==4.10.3
conda-build==3.21.4
conda-package-handling 
coverage==5.5
crc32c==2.3
crcmod==1.7
cryptography 
cycler==0.10.0
cymem 
Cython==0.29.32
DataProperty==0.52.0
datasets==2.7.0
debugpy==1.4.0
decorator 
deepspeed==0.7.5
defusedxml==0.7.1
diffusers 
dill==0.3.1.1
Django==3.2.5
DLLogger 
docopt==0.6.2
docutils==0.16
entrypoints==0.3
fancycompleter==0.9.1
fastavro==1.7.0
fasteners==0.18
fastjsonschema==2.16.2
filelock 
flake8==3.7.9
Flask==2.0.1
flatbuffers==2.0
frozenlist==1.3.3
fsspec==2022.11.0
ftfy==6.1.1
future==0.18.2
gensim==3.8.3
glob2==0.7
google-auth==1.33.1
google-auth-oauthlib==0.4.4
gpustat==1.0.0
graphsurgeon 
grpcio==1.39.0
gunicorn==20.1.0
h11==0.12.0
h5py==3.3.0
hdfs==2.7.0
hjson==3.1.0
html2text==2020.1.16
httplib2==0.20.4
httptools==0.2.0
huggingface-hub==0.11.0
hypothesis==4.50.8
idna 
imageio==2.9.0
imagesize==1.2.0
importlib-metadata==5.0.0
inflect==5.3.0
iniconfig==1.1.1
ipdb==0.13.9
ipykernel==6.0.3
ipython 
ipython-genutils==0.2.0
ipywidgets==8.0.2
itsdangerous==2.0.1
jedi
Jinja2==3.1.2
jmespath==0.10.0
joblib==1.0.1
json5==0.9.6
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyter-server==1.23.3
jupyter-tensorboard 
jupyterlab==3.5.0
jupyterlab-pygments==0.1.2
jupyterlab-widgets==3.0.3
jupyterlab_server==2.16.3
jupytext==1.11.4
kiwisolver==1.3.1
libarchive-c 
librosa==0.8.0
lime==0.2.0.1
llvmlite==0.39.1
lmdb==1.2.1
Mako==1.1.4
Markdown==3.3.4
markdown-it-py==1.1.0
MarkupSafe 
maskrcnn-benchmark 
matplotlib==3.4.2
matplotlib-inline 
mbstrdecoder==1.0.1
mccabe==0.6.1
mdit-py-plugins==0.2.8
mistune==2.0.4
mlperf-compliance==0.0.10
mock 
mpi4py==3.1.4
msgfy==0.1.0
multidict==6.0.2
multiprocess==0.70.9
murmurhash 
nbclassic==0.4.8
nbclient==0.5.3
nbconvert==7.2.5
nbformat==5.7.0
nest-asyncio==1.5.1
networkx==2.0
ninja==1.11.1
nlg-eval @ git+https://github.com/Maluuba/nlg-eval.git@7f7993035a2f4729a15d20040fd904933ea58767
nltk==3.6.2
notebook==6.2.0
notebook_shim==0.2.2
numba 
numpy==1.22.4
nvidia-dali-cuda110==1.3.0
nvidia-dlprof-pytorch-nvtx 
nvidia-dlprofviewer 
nvidia-ml-py==11.495.46
oauthlib==3.1.1
objsize==0.5.2
onnx 
onnxruntime==1.8.1
orjson==3.8.2
packaging==21.3
pandas==1.5.1
pandocfilters==1.4.3
parso 
pathvalidate==2.4.1
pathy 
patsy==0.5.3
pdbpp==0.10.3
pexpect 
pickleshare 
Pillow 
pkginfo 
pluggy==0.13.1
polygraphy==0.31.1
pooch==1.4.0
preshed 
prettytable==3.5.0
progressbar==2.5
prometheus-client==0.11.0
prompt-toolkit 
proto-plus==1.22.1
protobuf==3.20.3
psutil 
ptyprocess 
py==1.10.0
py-cpuinfo==9.0.0
pyarrow==9.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.7.0
pycocotools @ git+https://github.com/nvidia/cocoapi.git@9a47a76980d02f70a371e12d4fad61f644a209f1#subdirectory=PythonAPI
pycodestyle==2.5.0
pycosat 
pycparser 
pycuda==2020.1
pydantic 
pydot==1.4.2
pyflakes==2.1.1
Pygments 
pymongo==3.13.0
pynvml==8.0.4
pyOpenSSL
pyparsing==2.4.7
pyrepl==0.9.0
pyrsistent==0.18.0
PySocks 
pytablewriter==0.47.0
pytest==6.2.4
pytest-cov==2.12.1
pytest-pythonpath==0.7.3
python-dateutil==2.8.2
python-dotenv==0.18.0
python-hostlist==1.21
python-nvd3==0.15.0
python-slugify==5.0.2
pytools==2021.2.7
pytorch-quantization==2.1.0
pytorch-transformers==1.1.0
pytz 
PyWavelets==1.1.1
PyYAML==5.4.1
pyzmq==22.1.0
regex==2021.7.6
requests 
requests-oauthlib==1.3.0
resampy==0.2.2
responses==0.18.0
rsa==4.7.2
rtpt==0.0.4
ruamel-yaml-conda 
s3transfer==0.5.0
sacrebleu==1.2.10
sacremoses==0.0.35
scikit-image==0.15.0
scikit-learn==1.1.3
scipy==1.9.3
seaborn==0.12.1
Send2Trash==1.8.0
sentence-transformers @ git+https://github.com/UKPLab/sentence-transformers.git@14596bc5a34162c1b542de8b507b09e2fc094d35
sentencepiece==0.1.96
setproctitle==1.3.2
shellingham 
six 
smart-open 
sniffio==1.3.0
snowballstemmer==2.1.0
SoundFile==0.10.3.post1
soupsieve 
sox==1.4.1
spacy 
spacy-legacy 
spectral==0.23.1
Sphinx==4.1.1
sphinx-glpi-theme==0.3
sphinx-rtd-theme==0.5.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sqlparse==0.4.1
srsly 
statsmodels==0.13.5
subword-nmt 
tabledata==1.2.0
tabulate==0.8.9
tensorboard==2.5.0
tensorboard-data-server==0.6.1
tensorboard-logger==0.1.0
tensorboard-plugin-wit==1.8.0
tensorrt 
terminado==0.10.1
testpath==0.5.0
text-unidecode==1.3
tfrecord==1.14.1
Theano==1.0.5
thinc 
threadpoolctl==2.2.0
tinycss2==1.2.1
tokenizers==0.12.1
toml==0.10.2
tomli==2.0.1
torch==1.10.0+cu113
torchaudio==0.10.0+cu113
torchtext
torchvision==0.11.1+cu113
tornado==6.1
tqdm==4.64.1
traitlets==5.5.0
transformers==4.24.0
typepy==1.2.0
typer 
typing-extensions 
uff 
Unidecode==1.2.0
urllib3 
uvicorn==0.14.0
uvloop==0.15.3
wasabi 
watchgod==0.7
wcwidth 
webencodings==0.5.1
websocket-client==1.4.2
websockets==9.1
Werkzeug==2.0.1
whitenoise==5.3.0
widgetsnbextension==4.0.3
wmctrl==0.4
wrapt==1.10.11
xdg==5.1.1
xxhash==3.1.0
yacs==0.1.8
yarl==1.8.1
zipp==3.10.0
zstandard==0.19.0

